
body{
font-family: Arial;
margin:0;
background:#f4f4f4;
text-align:center;
}

header{
background:linear-gradient(90deg,#006847,#ffffff,#ce1126);
padding:30px;
}

.hero{
padding:40px;
}

.premio{
width:300px;
border-radius:10px;
}

button{
padding:15px 30px;
background:#ce1126;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
font-size:16px;
}

button:hover{
background:#a50d1e;
}

.numeros{
display:grid;
grid-template-columns:repeat(10,1fr);
gap:10px;
padding:30px;
max-width:600px;
margin:auto;
}

.numero{
background:white;
padding:10px;
border-radius:5px;
box-shadow:0 0 5px rgba(0,0,0,0.2);
cursor:pointer;
}

.numero:hover{
background:#006847;
color:white;
}

.formulario{
padding:40px;
}

.formulario input{
display:block;
margin:10px auto;
padding:10px;
width:200px;
}

footer{
background:#111;
color:white;
padding:20px;
margin-top:40px;
}
